<style>
    .cerceve
    {
        border-style: dashed;
        border-width: 1px; 
        border-color: #7c7c7c;
        border-radius: 10px;
    } 
</style>  

@model Bovime.Models.UyeOlModel
@{
    Layout = "~/Views/_genel.cshtml";
}

<div class="container d-flex justify-content-center align-items-center" >
    <div class="col-md-6 col-lg-5"> 
        <div class="card-body p-4 cerceve">

            <h4 class="text-center mb-4">Üye Ol</h4>

            @Html.AntiForgeryToken()

            <div id="hata" class="alert alert-danger d-none"></div>
            <div id="basari" class="alert alert-success d-none"></div>

            <div class="mb-3">
                <label>Ad</label>
                <input id="adi" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Soyad</label>
                <input id="soyadi" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Telefon</label>
                <input id="telefon" class="form-control" />
            </div>

            <div class="mb-3">
                <label>E-Posta</label>
                <input id="ePosta" type="email" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Kullanıcı Adı</label>
                <input id="kullaniciAdi" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Şifre</label>
                <input id="sifre" type="password" class="form-control" />
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="sozlesmeOnay">
                <label class="form-check-label">
                    <a href="javascript:void(0)" onclick="sozlesmeAc()">Üyelik sözleşmesini</a> okudum ve onaylıyorum
                </label>
            </div>


            <button class="btn btn-success w-100" onclick="uyeOl()">
                Üye Ol
            </button>

        </div>
    </div>
</div>

<div class="modal fade" id="sozlesmeModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Üyelik Sözleşmesi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body" style="white-space:pre-wrap;">
                @Html.Raw( Model.uyeOlSozlesmesi.metin)
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>

        </div>
    </div>
</div>


<script>

        function sozlesmeAc() {
        var modal = new bootstrap.Modal(document.getElementById('sozlesmeModal'));
        modal.show();
    }


    function uyeOl() {

          if (!document.getElementById("sozlesmeOnay").checked) {
        alert("Devam etmek için üyelik sözleşmesini onaylamalısınız.");
        return;
    }


        const data = {
            adi: document.getElementById("adi").value,
            soyadi: document.getElementById("soyadi").value,
            telefon: document.getElementById("telefon").value,
            ePosta: document.getElementById("ePosta").value,
            kullaniciAdi: document.getElementById("kullaniciAdi").value,
            sifre: document.getElementById("sifre").value
        };

        const token = document.querySelector('input[name="__RequestVerificationToken"]').value;

        fetch('/UyeOl/UyeOlAjax', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'RequestVerificationToken': token
            },
            body: JSON.stringify(data)
        })
        .then(res => res.json())
        .then(res => {

            if (res.basarili) {
                document.getElementById("basari").innerHTML = res.mesaj;
                document.getElementById("basari").classList.remove("d-none");
            } else {
                document.getElementById("hata").innerHTML = res.mesaj;
                document.getElementById("hata").classList.remove("d-none");
            }

        })
        .catch(err => {
            alert("Sunucu hatası");
            console.error(err);
        });
    }
</script>
