@{

    Layout = "~/Views/_genel.cshtml";
}
<h2>
    Site Seötlrü
</h2>
@model Bovime.Models.SiteSektoruModel

 	<div class="products gutter-30 mobile-2 column-4">
   
    @{

        foreach(var siradaki in Model.firmalari)
        {
            <div class="column-item product type-product post-3109 status-publish first instock product_cat-battery-and-adhesives product_cat-tools-equipment has-post-thumbnail sale shipping-taxable purchasable product-type-simple">

	<div class="product product-type-1"> <div class="product-wrapper"><div class="product-content"><div class="thumbnail-wrapper entry-media"> <div class="product-badges"><span class="badge style-1" style="background-color: #00a046;">Top Product</span></div><a class="product-thumbnail" href="@siradaki.fotosu"><img src="@siradaki.fotosu" data-hover-slides="https://klbtheme.com/partdo/wp-content/uploads/2022/10/2-31-500x500.jpg,https://klbtheme.com/partdo/wp-content/uploads/2022/10/5-1-500x500.jpg,https://klbtheme.com/partdo/wp-content/uploads/2022/10/4-8-500x500.jpg,https://klbtheme.com/partdo/wp-content/uploads/2022/10/3-25-500x500.jpg" data-options='{"touch": "end", "preloadImages": true }' alt="@siradaki.firmaAdi"></a><div class="product-buttons"> <div class="wishlist-button"><a href="https://klbtheme.com/partdo/wishlist/" class="klbwl-btn klbwl-btn-3109" data-product_id="3109" data-product_title="@siradaki.firmaAdi">Add to wishlist</a></div><!-- wishlist-button --><a href="?add-to-compare=3109" class="klbcp-btn klbcp-btn-3109" data-id="3109" data-product_name="SnowyFox RV 15Amp to 50Amp Adapter - 15Male" data-product_image="https://klbtheme.com/partdo/wp-content/uploads/2022/10/1-32-150x150.jpg">Compare</a><a class="detail-bnt quickview" data-product_id="3109"><i class="klbth-icon-eye-empty"></i></a> </div> </div><div class="content-wrapper"><h3 class="product-title"> <a href="https://klbtheme.com/partdo/product/snowyfox-rv-15amp-to-50amp-adapter-15male/">SnowyFox RV 15Amp to 50Amp Adapter &#8211; 15Male</a></h3><div class="product-rating"><div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div> </div><span class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>25.98</bdi></span></del>  <ins aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>23.88</bdi></span></ins><span class="screen-reader-text">Current price is: &#036;23.88.</span></span><div class="product-stock in-stock"> <i class="klbth-icon-ecommerce-package-ready"></i><span>In Stock</span></div></div></div><div class="product-footer"><div class="product-footer-inner"> <div class="product-footer-details"> <ul>



</ul></div>
<span id="woocommerce_loop_add_to_cart_link_describedby_3109" class="screen-reader-text">
			</span>
</div></div></div><div class="product-content-fade"></div></div></div> 
        }

         }

</div>