<footer class="site-footer footer-default">

    <!-- FOOTER TOP -->
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <!-- ABOUT -->
                <div class="col-lg-4 col-md-6 footer-widget">
                    <div class="footer-logo">
                        <img src="~/SiteAssets/images/logo-light.png" alt="Partdo">
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <div class="footer-social">
                        <a href="#"><i class="klb-facebook"></i></a>
                        <a href="#"><i class="klb-twitter"></i></a>
                        <a href="#"><i class="klb-instagram"></i></a>
                        <a href="#"><i class="klb-youtube"></i></a>
                    </div>
                </div>

                <!-- QUICK LINKS -->
                <div class="col-lg-2 col-md-6 footer-widget">
                    <h4 class="widget-title">Quick Links</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>

                <!-- CUSTOMER SERVICE -->
                <div class="col-lg-3 col-md-6 footer-widget">
                    <h4 class="widget-title">Customer Service</h4>
                    <ul>
                        <li><a href="/account">My Account</a></li>
                        <li><a href="/orders">Orders</a></li>
                        <li><a href="/wishlist">Wishlist</a></li>
                        <li><a href="/help">Help Center</a></li>
                    </ul>
                </div>

                <!-- NEWSLETTER -->
                <div class="col-lg-3 col-md-6 footer-widget">
                    <h4 class="widget-title">Newsletter</h4>
                    <p>Subscribe to get updates and offers.</p>
                    <form class="newsletter-form">
                        <input type="email" placeholder="Your email address">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- FOOTER BOTTOM -->
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-inner">
                <div class="copyright">
                    © @DateTime.Now.Year Partdo. All Rights Reserved.
                </div>
                <div class="footer-payments">
                    <img src="~/SiteAssets/images/payments.png" alt="Payments">
                </div>
            </div>
        </div>
    </div>

</footer>
